In [ ]:
import pandas as pd
df = pd.read_csv(r"C:\Users\Hp\Selenium\andhra.csv")
df.columns

In [ ]:
import sqlite3

In [ ]:
bus_data

SQL Connection

In [ ]:
import pandas as pd
#import mysql.connector
import pymysql
#import streamlit as st

# MySQL connection setup
db_config = {
    'user': 'root',
    'password': 'Ta9ta6me@27',
    'host': 'localhost',
    'database': 'redbus'
}

# Connect to the database
conn = pymysql.connect(**db_config)
cursor = conn.cursor()

# Create the table
create_table_query = """
CREATE TABLE IF NOT EXISTS Andhra_buses (
    
    Names VARCHAR(255),
    Bus_fare FLOAT,
     Ratings FLOAT,
      Seats INT,
    Bus_types VARCHAR(255),
    Starting_time VARCHAR(255),
    Duration VARCHAR(255),
    Ending_time VARCHAR(255),
    Starting_point VARCHAR(255)
   
    
   
)
"""
cursor.execute(create_table_query)
# Load data from CSV
bus_data = pd.read_csv('Andhra.csv')
bus_data.fillna(0,inplace=True)
# Extract numerical values from 'Bus_fare' column (assuming consistent formatting)
bus_data['Bus_fare'] = bus_data['Bus_fare'].str.replace('INR ', '', regex=True).astype(float)

# Drop the unnamed first column(there is an unwanted column 0)
bus_data = bus_data.iloc[:, 1:]
# Stripping text from seats_available column
bus_data['Seats'] = bus_data['Seats'].str.extract('(\d+)').fillna(0).astype(int)

insert_query = """
    INSERT INTO Andhra_buses (Names,Bus_fare,Ratings,Seats,Bus_types, 
    Starting_time, Duration,Ending_time,Starting_point)
    VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s)
"""
for index, row in bus_data.iterrows():
    cursor.execute(insert_query, (
        row['Names'], row['Bus_fare'], row['Ratings'], row['Seats'], 
        row['Bus_types'], row['Starting_time'], row['Duration'], row['Ending_time'], 
        row['Starting_point']
    ))


conn.commit()

# Close the connection
cursor.close()
conn.close()

In [ ]:
bus_data.isna().sum()