In [1]:
import pandas as pd
df = pd.read_csv(r"C:\Users\Hp\Selenium\andhra.csv")
df.columns

C:\Users\Hp\anaconda3\Lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

Index(['Unnamed: 0', 'Starting_names', 'Reaching_names', 'Names', 'Bus_fare',
       'Ratings', 'Seats', 'Bus_types', 'Starting_time', 'Duration',
       'Ending_time', 'Starting_point'],
      dtype='object')

In [9]:
import sqlite3

In [11]:
!pip install pandas-sqlalchemy

ERROR: Could not find a version that satisfies the requirement pandas-sqlalchemy (from versions: none)
ERROR: No matching distribution found for pandas-sqlalchemy

In [13]:
!pip install --upgrade pandas

Requirement already satisfied: pandas in c:\users\hp\anaconda3\lib\site-packages (2.0.3)
Collecting pandas
  Obtaining dependency information for pandas from https://files.pythonhosted.org/packages/ab/63/966db1321a0ad55df1d1fe51505d2cdae191b84c907974873817b0a6e849/pandas-2.2.2-cp311-cp311-win_amd64.whl.metadata
  Downloading pandas-2.2.2-cp311-cp311-win_amd64.whl.metadata (19 kB)
Requirement already satisfied: numpy>=1.23.2 in c:\users\hp\anaconda3\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\hp\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\hp\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\hp\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\hp\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.2.2-cp311-cp311-win_amd64.whl (11.6 MB)
   ---------------------------------------- 0.0/11.6 MB ? eta -:--:--
   ---------------------------------------- 0.0/11.6 MB ? eta -:--:--
   ---------------------------------------- 0.1/11.6 MB 825.8 kB/s eta 0:00:15
   ---------------------------------------- 0.1/11.6 MB 825.8 kB/s eta 0:00:15
    --------------------------------------- 0.2/11.6 MB 1.1 MB/s eta 0:00:11
    --------------------------------------- 0.2/11.6 MB 986.4 kB/s eta 0:00:12
    --------------------------------------- 0.2/11.6 MB 942.1 kB/s eta 0:00:13
    --------------------------------------- 0.2/11.6 MB 942.1 kB/s eta 0:00:13
    --------------------------------------- 0.2/11.6 MB 942.1 kB/s eta 0:00:13
   - -------------------------------------- 0.4/11.6 MB 882.8 kB/s eta 0:00:13
   - -------------------------------------- 0.5/11.6 MB 962.7 kB/s eta 0:00:12
   - -------------------------------------- 0.5/11.6 MB 962.7 kB/s eta 0:00:12
   - -------------------------------------- 0.5/11.6 MB 975.2 kB/s eta 0:00:12
   - -------------------------------------- 0.5/11.6 MB 975.2 kB/s eta 0:00:12
   -- ------------------------------------- 0.6/11.6 MB 999.4 kB/s eta 0:00:12
   -- ------------------------------------- 0.6/11.6 MB 999.4 kB/s eta 0:00:12
   -- ------------------------------------- 0.6/11.6 MB 999.4 kB/s eta 0:00:12
   -- ------------------------------------- 0.6/11.6 MB 999.4 kB/s eta 0:00:12
   -- ------------------------------------- 0.7/11.6 MB 853.3 kB/s eta 0:00:13
   -- ------------------------------------- 0.7/11.6 MB 853.3 kB/s eta 0:00:13
   -- ------------------------------------- 0.8/11.6 MB 870.3 kB/s eta 0:00:13
   -- ------------------------------------- 0.9/11.6 MB 891.8 kB/s eta 0:00:13
   --- ------------------------------------ 0.9/11.6 MB 901.1 kB/s eta 0:00:12
   --- ------------------------------------ 1.0/11.6 MB 906.4 kB/s eta 0:00:12
   --- ------------------------------------ 1.0/11.6 MB 918.1 kB/s eta 0:00:12
   --- ------------------------------------ 1.0/11.6 MB 918.1 kB/s eta 0:00:12
   --- ------------------------------------ 1.0/11.6 MB 918.1 kB/s eta 0:00:12
   --- ------------------------------------ 1.1/11.6 MB 891.2 kB/s eta 0:00:12
   --- ------------------------------------ 1.2/11.6 MB 895.3 kB/s eta 0:00:12
   --- ------------------------------------ 1.2/11.6 MB 895.3 kB/s eta 0:00:12
   ---- ----------------------------------- 1.2/11.6 MB 893.7 kB/s eta 0:00:12
   ---- ----------------------------------- 1.2/11.6 MB 893.7 kB/s eta 0:00:12
   ---- ----------------------------------- 1.3/11.6 MB 883.2 kB/s eta 0:00:12
   ---- ----------------------------------- 1.3/11.6 MB 883.2 kB/s eta 0:00:12
   ---- ----------------------------------- 1.3/11.6 MB 883.2 kB/s eta 0:00:12
   ---- ----------------------------------- 1.4/11.6 MB 869.6 kB/s eta 0:00:12
   ----- ---------------------------------- 1.5/11.6 MB 886.2 kB/s eta 0:00:12
   ----- ---------------------------------- 1.6/11.6 MB 933.1 kB/s eta 0:00:11
   ------ --------------------------------- 1.8/11.6 MB 1.0 MB/s eta 0:00:10
   ------ --------------------------------- 1.9/11.6 MB 1.1 MB/s eta 0:00:10
   ------- -------------------------------- 2.1/11.6 MB 1.1 MB/s eta 0:00:09
   ------- -------------------------------- 2.3/11.6 MB 1.2 MB/s eta 0:00:08
   -------- ------------------------------- 2.4/11.6 MB 1.2 MB/s eta 0:00:08
   -------- ------------------------------- 2.6/11.6 MB 1.3 MB/s eta 0:00:08
   --------- ------------------------------ 2.8/11.6 MB 1.4 MB/s eta 0:00:07
   ---------- ----------------------------- 3.0/11.6 MB 1.4 MB/s eta 0:00:07
   ---------- ----------------------------- 3.1/11.6 MB 1.5 MB/s eta 0:00:06
   ----------- ---------------------------- 3.4/11.6 MB 1.5 MB/s eta 0:00:06
   ------------ --------------------------- 3.6/11.6 MB 1.6 MB/s eta 0:00:06
   ------------ --------------------------- 3.7/11.6 MB 1.6 MB/s eta 0:00:05
   ------------- -------------------------- 3.9/11.6 MB 1.7 MB/s eta 0:00:05
   ------------- -------------------------- 4.0/11.6 MB 1.7 MB/s eta 0:00:05
   -------------- ------------------------- 4.1/11.6 MB 1.7 MB/s eta 0:00:05
   -------------- ------------------------- 4.3/11.6 MB 1.7 MB/s eta 0:00:05
   --------------- ------------------------ 4.4/11.6 MB 1.7 MB/s eta 0:00:05
   --------------- ------------------------ 4.5/11.6 MB 1.7 MB/s eta 0:00:05
   --------------- ------------------------ 4.6/11.6 MB 1.7 MB/s eta 0:00:05
   ---------------- ----------------------- 4.8/11.6 MB 1.8 MB/s eta 0:00:04
   ---------------- ----------------------- 4.9/11.6 MB 1.8 MB/s eta 0:00:04
   ----------------- ---------------------- 5.1/11.6 MB 1.8 MB/s eta 0:00:04
   ----------------- ---------------------- 5.2/11.6 MB 1.8 MB/s eta 0:00:04
   ------------------ --------------------- 5.3/11.6 MB 1.8 MB/s eta 0:00:04
   ------------------ --------------------- 5.4/11.6 MB 1.9 MB/s eta 0:00:04
   ------------------ --------------------- 5.5/11.6 MB 1.9 MB/s eta 0:00:04
   ------------------ --------------------- 5.5/11.6 MB 1.9 MB/s eta 0:00:04
   ------------------ --------------------- 5.5/11.6 MB 1.9 MB/s eta 0:00:04
   ------------------ --------------------- 5.5/11.6 MB 1.9 MB/s eta 0:00:04
   ------------------ --------------------- 5.5/11.6 MB 1.9 MB/s eta 0:00:04
   ------------------ --------------------- 5.5/11.6 MB 1.9 MB/s eta 0:00:04
   ------------------ --------------------- 5.5/11.6 MB 1.9 MB/s eta 0:00:04
   ------------------- -------------------- 5.6/11.6 MB 1.7 MB/s eta 0:00:04
   ------------------- -------------------- 5.6/11.6 MB 1.7 MB/s eta 0:00:04
   ------------------- -------------------- 5.6/11.6 MB 1.7 MB/s eta 0:00:04
   ------------------- -------------------- 5.7/11.6 MB 1.7 MB/s eta 0:00:04
   ------------------- -------------------- 5.8/11.6 MB 1.7 MB/s eta 0:00:04
   -------------------- ------------------- 5.9/11.6 MB 1.7 MB/s eta 0:00:04
   -------------------- ------------------- 6.0/11.6 MB 1.7 MB/s eta 0:00:04
   --------------------- ------------------ 6.2/11.6 MB 1.7 MB/s eta 0:00:04
   --------------------- ------------------ 6.3/11.6 MB 1.7 MB/s eta 0:00:04
   --------------------- ------------------ 6.4/11.6 MB 1.7 MB/s eta 0:00:04
   ---------------------- ----------------- 6.5/11.6 MB 1.7 MB/s eta 0:00:03
   ---------------------- ----------------- 6.6/11.6 MB 1.8 MB/s eta 0:00:03
   ----------------------- ---------------- 6.7/11.6 MB 1.8 MB/s eta 0:00:03
   ----------------------- ---------------- 6.8/11.6 MB 1.8 MB/s eta 0:00:03
   ----------------------- ---------------- 6.9/11.6 MB 1.8 MB/s eta 0:00:03
   ------------------------ --------------- 7.1/11.6 MB 1.8 MB/s eta 0:00:03
   ------------------------ --------------- 7.2/11.6 MB 1.8 MB/s eta 0:00:03
   ------------------------- -------------- 7.3/11.6 MB 1.8 MB/s eta 0:00:03
   ------------------------- -------------- 7.4/11.6 MB 1.8 MB/s eta 0:00:03
   ------------------------- -------------- 7.5/11.6 MB 1.8 MB/s eta 0:00:03
   -------------------------- ------------- 7.6/11.6 MB 1.8 MB/s eta 0:00:03
   -------------------------- ------------- 7.7/11.6 MB 1.8 MB/s eta 0:00:03
   -------------------------- ------------- 7.8/11.6 MB 1.8 MB/s eta 0:00:03
   --------------------------- ------------ 7.9/11.6 MB 1.8 MB/s eta 0:00:03
   --------------------------- ------------ 8.0/11.6 MB 1.8 MB/s eta 0:00:02
   --------------------------- ------------ 8.1/11.6 MB 1.8 MB/s eta 0:00:02
   ---------------------------- ----------- 8.2/11.6 MB 1.8 MB/s eta 0:00:02
   ---------------------------- ----------- 8.3/11.6 MB 1.9 MB/s eta 0:00:02
   ----------------------------- ---------- 8.5/11.6 MB 1.9 MB/s eta 0:00:02
   ----------------------------- ---------- 8.6/11.6 MB 1.9 MB/s eta 0:00:02
   ----------------------------- ---------- 8.7/11.6 MB 1.9 MB/s eta 0:00:02
   ------------------------------ --------- 8.8/11.6 MB 1.9 MB/s eta 0:00:02
   ------------------------------ --------- 8.9/11.6 MB 1.9 MB/s eta 0:00:02
   ------------------------------- -------- 9.0/11.6 MB 1.9 MB/s eta 0:00:02
   ------------------------------- -------- 9.2/11.6 MB 1.9 MB/s eta 0:00:02
   ------------------------------- -------- 9.2/11.6 MB 1.9 MB/s eta 0:00:02
   ------------------------------- -------- 9.3/11.6 MB 1.9 MB/s eta 0:00:02
   -------------------------------- ------- 9.3/11.6 MB 1.9 MB/s eta 0:00:02
   -------------------------------- ------- 9.4/11.6 MB 1.9 MB/s eta 0:00:02
   -------------------------------- ------- 9.5/11.6 MB 1.9 MB/s eta 0:00:02
   -------------------------------- ------- 9.5/11.6 MB 1.9 MB/s eta 0:00:02
   -------------------------------- ------- 9.6/11.6 MB 1.9 MB/s eta 0:00:02
   --------------------------------- ------ 9.7/11.6 MB 1.9 MB/s eta 0:00:02
   --------------------------------- ------ 9.7/11.6 MB 1.9 MB/s eta 0:00:02
   --------------------------------- ------ 9.8/11.6 MB 1.9 MB/s eta 0:00:01
   --------------------------------- ------ 9.8/11.6 MB 1.9 MB/s eta 0:00:01
   --------------------------------- ------ 9.8/11.6 MB 1.9 MB/s eta 0:00:01
   --------------------------------- ------ 9.8/11.6 MB 1.9 MB/s eta 0:00:01
   --------------------------------- ------ 9.8/11.6 MB 1.9 MB/s eta 0:00:01
   --------------------------------- ------ 9.8/11.6 MB 1.9 MB/s eta 0:00:01
   --------------------------------- ------ 9.8/11.6 MB 1.9 MB/s eta 0:00:01
   --------------------------------- ------ 9.8/11.6 MB 1.9 MB/s eta 0:00:01
   --------------------------------- ------ 9.8/11.6 MB 1.9 MB/s eta 0:00:01
   --------------------------------- ------ 9.8/11.6 MB 1.9 MB/s eta 0:00:01
   --------------------------------- ------ 9.8/11.6 MB 1.9 MB/s eta 0:00:01
   --------------------------------- ------ 9.8/11.6 MB 1.9 MB/s eta 0:00:01
   --------------------------------- ------ 9.8/11.6 MB 1.9 MB/s eta 0:00:01
   --------------------------------- ------ 9.8/11.6 MB 1.9 MB/s eta 0:00:01
   --------------------------------- ------ 9.8/11.6 MB 1.9 MB/s eta 0:00:01
   --------------------------------- ------ 9.8/11.6 MB 1.9 MB/s eta 0:00:01
   --------------------------------- ------ 9.8/11.6 MB 1.9 MB/s eta 0:00:01
   --------------------------------- ------ 9.8/11.6 MB 1.9 MB/s eta 0:00:01
   --------------------------------- ------ 9.8/11.6 MB 1.9 MB/s eta 0:00:01
   --------------------------------- ------ 9.8/11.6 MB 1.6 MB/s eta 0:00:02
   ------------------------------------- -- 11.0/11.6 MB 1.9 MB/s eta 0:00:01
   -------------------------------------- - 11.1/11.6 MB 1.9 MB/s eta 0:00:01
   -------------------------------------- - 11.2/11.6 MB 2.0 MB/s eta 0:00:01
   -------------------------------------- - 11.3/11.6 MB 2.0 MB/s eta 0:00:01
   ---------------------------------------  11.4/11.6 MB 2.0 MB/s eta 0:00:01
   ---------------------------------------  11.4/11.6 MB 2.0 MB/s eta 0:00:01
   ---------------------------------------  11.6/11.6 MB 2.1 MB/s eta 0:00:01
   ---------------------------------------  11.6/11.6 MB 2.1 MB/s eta 0:00:01
   ---------------------------------------  11.6/11.6 MB 2.1 MB/s eta 0:00:01
   ---------------------------------------  11.6/11.6 MB 2.1 MB/s eta 0:00:01
   ---------------------------------------  11.6/11.6 MB 2.1 MB/s eta 0:00:01
   ---------------------------------------- 11.6/11.6 MB 2.0 MB/s eta 0:00:00
Installing collected packages: pandas
  Attempting uninstall: pandas
    Found existing installation: pandas 2.0.3
    Uninstalling pandas-2.0.3:
      Successfully uninstalled pandas-2.0.3
Successfully installed pandas-2.2.2

In [18]:
bus_data

,Names,Bus_fare,Ratings,Seats,Bus_types,Starting_time,Duration,Ending_time,Starting_point
0,NueGo,314,4.0,33,Electric A/C Seater (2+2),05:00,06h 10m,11:10,TIRUPATHI (12:30Am)
1,FRESHBUS,489,4.6,39,Electric A/C Seater (2+2),05:30,05h 35m,11:05,RTC Bus Stand (Sindhu Travels)
2,NueGo,314,3.7,44,Electric A/C Seater (2+2),07:00,06h 10m,13:10,RTC Bus Stand (Sindhu Travels)
3,AdRajesh Transports,INR 1080,3.9,36,A/C Sleeper (2+1),23:36,06h 24m,06:00,RTC Bus Stand (Sindhu Travels)
4,Yolo Bus,INR 299,4.9,37,Bharat Benz A/C Seater /Sleeper (2+1),07:15,05h 58m,13:13,RTC Bus Stand(NEW DOT TRAVELS)
...,...,...,...,...,...,...,...,...,...
3926,VRCR Travels,INR 525,3.8,25,A/C Seater / Sleeper (2+1),21:35,03h 10m,00:45,Anna Nagar
3927,CGR Travels,INR 900,3.7,10,Non A/C Seater / Sleeper (2+1),20:00,05h 30m,01:30,Koyambedu
3928,VRCR Travels,INR 425,2.1,17,Non A/C Seater / Sleeper (2+1),21:50,03h 30m,01:20,Koyambedu
3929,Meenakshi Travels (RR Group),INR 500,2.1,0,A/C Sleeper (2+1),19:00,27h 30m,22:30,NaN
3930,Meenakshi Travels (RR Group),INR 500,NaN,0,NON A/C Sleeper (2+1),19:00,27h 30m,22:30,NaN

In [2]:
import pandas as pd
#import mysql.connector
import pymysql
#import streamlit as st

# MySQL connection setup
db_config = {
    'user': 'root',
    'password': 'Ta9ta6me@27',
    'host': 'localhost',
    'database': 'redbus'
}

# Connect to the database
conn = pymysql.connect(**db_config)
cursor = conn.cursor()

# Create the table
create_table_query = """
CREATE TABLE IF NOT EXISTS Andhra_buses (
    
    Names VARCHAR(255),
    Bus_fare FLOAT,
     Ratings FLOAT,
      Seats INT,
    Bus_types VARCHAR(255),
    Starting_time VARCHAR(255),
    Duration VARCHAR(255),
    Ending_time VARCHAR(255),
    Starting_point VARCHAR(255)
   
    
   
)
"""
cursor.execute(create_table_query)
# Load data from CSV
bus_data = pd.read_csv('Andhra.csv')
bus_data.fillna(0,inplace=True)
# Extract numerical values from 'Bus_fare' column (assuming consistent formatting)
bus_data['Bus_fare'] = bus_data['Bus_fare'].str.replace('INR ', '', regex=True).astype(float)

# Drop the unnamed first column(there is an unwanted column 0)
bus_data = bus_data.iloc[:, 1:]
# Stripping text from seats_available column
bus_data['Seats'] = bus_data['Seats'].str.extract('(\d+)').fillna(0).astype(int)

insert_query = """
    INSERT INTO Andhra_buses (Names,Bus_fare,Ratings,Seats,Bus_types, 
    Starting_time, Duration,Ending_time,Starting_point)
    VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s)
"""
for index, row in bus_data.iterrows():
    cursor.execute(insert_query, (
        row['Names'], row['Bus_fare'], row['Ratings'], row['Seats'], 
        row['Bus_types'], row['Starting_time'], row['Duration'], row['Ending_time'], 
        row['Starting_point']
    ))


conn.commit()

# Close the connection
cursor.close()
conn.close()

ProgrammingError: nan can not be used with MySQL

In [23]:
bus_data.isna().sum()

Names             0
Bus_fare          0
Ratings           0
Seats             0
Bus_types         0
Starting_time     0
Duration          0
Ending_time       0
Starting_point    0
dtype: int64