In [ ]:
mysql.connector   - caching sha2 password error-  innodb
pymysql
psychopg2 - postgresql
pyodbc- microsoft sql server
sqlalchemy  engine

In [ ]:
sqlite3      - in memory database
sqlitestudio

In [1]:
!pip install mysql.connector

Requirement already satisfied: mysql.connector in c:\users\nehla\appdata\local\programs\python\python310\lib\site-packages (2.2.9)

[notice] A new release of pip is available: 23.2 -> 23.2.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [15]:
import mysql.connector

In [16]:
con= mysql.connector.connect(
    host="localhost",
    user="root",
    password="2594",
    autocommit=True
    )
print(con)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000002AFFF4654B0>

In [17]:
mycursor=con.cursor()

In [18]:
mycursor.execute("CREATE DATABASE SQLPYTHON1")

In [8]:
mycursor.execute("SHOW DATABASES")
for x in mycursor:
    print(x)

('awesome chocolates',)
('firstdb',)
('freshdb',)
('information_schema',)
('mv',)
('mydb',)
('mysql',)
('newdb',)
('performance_schema',)
('pestdatabase',)
('pesticide',)
('projects_hr',)
('sakila',)
('sqlpython',)
('sys',)
('tamilsql',)
('world',)
('youtubedb',)

In [19]:
mycursor.execute("USE SQLPYTHON1")

In [20]:
mycursor.execute("CREATE TABLE stud (sid INT,sname VARCHAR(20),mark INT)")

In [ ]:
# VARCHAR -  2000 BYTES
# VARCHAR2- 4000 BYTES

In [21]:
mycursor.execute("show tables")
for y in mycursor:
    print(y)

('stud',)

In [22]:
mycursor.execute("insert into stud values(1,'aaa',98),(2,'bbb',88)")

In [28]:
mycursor.execute("Select * from stud")
for y in mycursor:
    print(y)

(1, 'aaa', 98)
(2, 'bbb', 88)
(3, 'ccc', 55)
(4, 'ddd', 99)
(5, 'gg', 66)

In [25]:
sql="insert into stud(sid,sname,mark) values(%s,%s,%s)"
mylist=[
    (3,'ccc',55),
    (4,'ddd',99),
    (5,'gg',66),
]
mycursor.executemany(sql,mylist)

In [ ]:
import pandas pd

pd.read_csv(r"Desktop\employee.csv")

In [27]:
print(mycursor.rowcount, "rows are inserted")

3 rows are inserted